<!DOCTYPE html>
<html lang="zh">
<head>
    <link rel="stylesheet" href="css_3e877f.css"/>
    <meta charset="UTF-8">
    <title>视频</title>
</head>
<body>
    <div class="nav news">
            <div class="wrap">
                <ul class="nav-menu clearfix">
                <li>
                    <a href="http://127.0.0.1:8000/">首页</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/videos/">视频</a>
                </li>
                <li class="nav-news">
                    <a href="http://127.0.0.1:8000/news/">新闻</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/place/">场地</a>
                </li>
                <li>
                    <a href="http://127.0.0.1:8000/coach/">教练</a>
                </li>
                </ul>
            </div>
    </div>
    {% for item in item_list %}
    {% endfor %}

</body>
</html>